/* FONT IMPORTS */

@import url('https://fonts.googleapis.com/css?family=Domine');
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Body Font Because I Don't Want To Mess with the SASS of Bootstrap <3 */
.body {
    font-family: 'Roboto', sans-serif;
}


.rotateText {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: aquamarine;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Domine', serif;
    font-weight: 600;
    position: relative;
    display: inline-block;
}

.portrait {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 50%;
}

h1::after,
h2::after {
    content: "";
    position: absolute;
    width: 100%;
    background: aquamarine;
    left: 0;
    bottom: 0;
    height: .6em;
    z-index: -1;
}

.navbar {
    background: rgba(255, 255, 255, .8);
}

.collapse {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.header-main {
    margin-top: 150px;
    margin-bottom: 100px;
}

.nav-item {
    padding: 0px 50px;
}

a:hover {
    border-bottom: 1px solid aquamarine;
}

.my-name {
    font-family: 'Domine', serif;
    font-weight: 900;
    margin-bottom: 20px;
}

.underline {
    text-decoration: underline;
    text-decoration-color: aquamarine;
}


/* .title {}

.shorAbout {}

.header {}

*/


/* MEDIA QUERIES */

@media only screen and (max-width: 974px) {
    [class*="col-"] {
        width: 100%;
    }
}